html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}

body {
	margin: 0; /* Remove the margin in all browsers. */
  font-family: "Open Sans", "Segoe UI", sans-serif;
}

*,
::before,
::after {
	box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Anonymous Pro", Monaco, Tahoma, monospace;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}