<div class="timeline__date">datefrom - datato</div>
<div class="timeline__dot"></div>
<div class="timeline__content">
  <h3 class="timeline__title">Major @ University</h3>
  <p class="timeline__subtitle">Location | Minor</p>
  <p class="timeline__description"><%= lorem.sentences(2) %></p>
</div>